<div class="card mt-2 mb-2">
  <div class="card-header bg-primary text-white">
    {{element.name}} <!-- element : event input pada server-element yang datanya dapat diambil pada komponen lain -->
  </div>
  <div class="card-body">
    <!-- <p>
      <strong *ngIf="element.type == 'server'" style="color:red">{{element.content}}</strong>
      <em *ngIf="element.type == 'blueprint'">{{element.content}}</em>
    </p> -->
    <!--
      Element <p> pada template server element dipindah dalam template app
      Secara default, Angular tidak akan menampilkan konten yang ada didalamnya,
      karena memang tidak dapat diakses.
      Untuk melakukan hal tersebut, kita memerlukan proyeksi konten dari app ke serve-element,
      dengan menggunakan directive ng-content
    -->
    <ng-content></ng-content>
  </div>
</div>