<nav class="nav justify-content-center">
  <a class="nav-link tombol" (click)="toogleEditor('modul3')">Modul 3</a>
  <a class="nav-link tombol" (click)="toogleEditor('percobaan')">Percobaan</a>
  <a class="nav-link tombol" (click)="toogleEditor('formValidation')">Form Validation</a>
  <a class="nav-link tombol" (click)="toogleEditor('form')">Todo App</a>
  <a class="nav-link tombol" (click)="toogleEditor('directive')">Directive</a>
</nav>

<div class="container" *ngIf="showModul3">
  <!--Modul 3-->
  <!-- Memanggil component { cockpit } dan memanggil event serverCreated & bpCreated yang terdapat di cockpit -->
  <!-- event tersebut kemudian dimasukan kedalam property onServerAdded & onBlueprintAdded yang merupakan method APP -->
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <!-- memanggil component { server element }  yang arraynya berada di app.component.ts -->
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
        <p>
          <strong *ngIf="serverElement.type == 'server'" style="color:red">{{serverElement.content}}</strong>
          <em *ngIf="serverElement.type == 'blueprint'">{{serverElement.content}}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>

<div *ngIf="showPercobaan">
  <!--Percobaan-->
  <app-percobaan></app-percobaan>
</div>

<div *ngIf="showFormValidation">
  <!--Percobaan-->
  <app-form-validation></app-form-validation>
</div>

<div *ngIf="showForm">
  <!--Form Todo-->
  <app-form-todo></app-form-todo>
</div>

<div *ngIf="showDirective">
  <!--Form Todo-->
    <div class="row justify-content-center">
      <div class="col-md-12">
         <app-directive-dasar></app-directive-dasar>
      </div>
    </div>
  </div>

