<nav class="nav justify-content-center">  
  <a class="nav-link tombol" (click)="toogleEditor('modul3')">Modul 3</a>
  <a class="nav-link tombol" (click)="toogleEditor('percobaan')">Percobaan</a>
  <a class="nav-link tombol" (click)="toogleEditor('formValidation')">Form Validation</a>
  <a class="nav-link tombol" (click)="toogleEditor('form')">Todo App</a>
</nav>

<div class="container" *ngIf="showModul3"> <!--Modul 3-->
  <!-- Memanggil component { cockpit } dan memanggil event serverCreated & bpCreated yang terdapat di cockpit -->
  <!-- event tersebut kemudian dimasukan kedalam property onServerAdded & onBlueprintAdded yang merupakan method APP -->
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <!-- memanggil component { server element }  yang arraynya berada di app.component.ts -->
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
        <!-- <p>
          <strong *ngIf="element.type == 'server'" style="color:red">{{element.content}}</strong>
          <em *ngIf="element.type == 'blueprint'">{{element.content}}</em>
        </p> -->
      </app-server-element>
    </div>
  </div>
</div>

<div *ngIf="showPercobaan"> <!--Percobaan-->
  <app-percobaan></app-percobaan>
</div>

<div *ngIf="showFormValidation"> <!--Percobaan-->
  <app-form-validation></app-form-validation>
</div>

<div *ngIf="showForm"> <!--Form Todo-->
  <app-form-todo></app-form-todo>
</div>

<span changeText></span>